<!DOCTYPE html>
<html lang="ro"> 
    <head>
     <title>
            Site de articole vestimentare
        </title>
         <meta name="keywords" 
          content="rochii, rochii de vara, rochii de ocazie, camasi, esarfe, bluze, boutique">
        <meta name="description" content="Lily boutique ofera o gama larga de articole vestimentare de vara, primavara si iarna realizate din cele mai fine tasaturi si cele mai bune materiale">
        
       <%- include ../fragmente/head.ejs %>

    </head>
    <body>
        <%- include ../fragmente/header.ejs %>
       <main>
            ISORICUL BOUTIQUE-ULUI LILY
       </main>
    
        <%- include ../fragmente/footer.ejs %>
    <div id="watermark-print">
    Tiganila<br>
    Stefania
</div>
    </body>
</html>