<!DOCTYPE html>
<html lang="ro"> 
    <head>
     <title>
            Site de articole vestimentare
        </title>
         <meta name="keywords" 
          content="rochii, rochii de vara, rochii de ocazie, camasi, esarfe, bluze, boutique">
        <meta name="description" content="Lily boutique ofera o gama larga de articole vestimentare de vara, primavara si iarna realizate din cele mai fine tasaturi si cele mai bune materiale">
        
       <%- include ('../fragmente/head.ejs') %>

    </head>
    <body>
        <%- include ('../fragmente/header.ejs') %>
       <main>
            ISORICUL BOUTIQUE-ULUI LILY
            Lily Boutique s-a născut în primăvara lui 2015, pe o străduță pietruită din Centrul Vechi al Bucureștiului. Fondat de două surori pasionate de modă și estetică florală, magazinul a pornit ca un mic atelier-boutique cu piese vestimentare unicat și accesorii artizanale aduse din mici ateliere italiene și franceze.De-a lungul anilor, povestea boutique-ului a evoluat natural, ghidată de câteva etape cheie:2015 (Inaugurarea): Deschiderea primului spațiu fizic, unde accentul a fost pus pe eleganță, texturi fine și o atmosferă intimă. Boutique-ul a devenit rapid un secret bine păstrat printre iubitoarele de modă locală.2018 (Colecția proprie): Lansarea primei linii vestimentare Lily, axată pe rochii și ținute capsulă care îmbină croiala clasică cu accente moderne și detalii inspirate din delicatețea florilor de crin.2021 (Digitalizarea și Extinderea): Extinderea prezenței în mediul online a permis brandului să livreze piese vestimentare în toată țara.Prezent: Astăzi, boutique-ul este recunoscut pentru consilierea vestimentară personalizată și colecțiile sale în ediție limitată.Spațiul fizic funcționează și ca un punct de întâlnire pentru comunitatea locală, oferind vizitatorilor o experiență de cumpărături relaxantă, departe de agitația marilor magazine. Pentru a explora colecțiile actuale sau a rezerva o sesiune privată de styling, poți vizita platforma oficială Lily Boutique.
       </main>
    
        <%- include ('../fragmente/footer.ejs') %>
    <div id="watermark-print">
    Tiganila<br>
    Stefania
</div>
    </body>
</html>