 <footer>
        <p id="banner-print">Acesta este un proiect școlar!</p>
        <address>
    Telefon:
    <a href="tel:+40123456789">+40 123 456 789</a>
    <br>

    Adresă:
    <a href="https://www.google.com/maps/place/Facultatea+de+Matematica+si+Informatica/@44.4356,26.1024,17z">
        Strada Modei nr. 10<br>
        București, România
    </a>
    <br>

    Email:
    <a href="mailto:contact@lilyboutique.ro">contact@lilyboutique.ro</a>
    <br>

    WhatsApp:
    <a href="https://wa.me/40123456789">Scrie-ne pe WhatsApp</a>
</address>

<p>
   <small>
      &copy; copyright | Lily Boutique |
      Pagina creată la data de
      <time datetime="2026-03-09">9 martie 2026</time>
   </small>
</p>

        <a href="#top" id="link-top" aria-label="Mergi la începutul paginii" data-tooltip="Înapoi la început">
    <span id="sageata">&#129081;</span>
</a>

<button id="schimba_tema" class="btn btn-outline-secondary" title="Schimbă tema">
    <i id="icon_tema" class="fa-solid fa-moon"></i>
</button>
        
    </footer>