<header id="top">
        <script type="text/javascript" src="/resurse/js/tema.js"></script>
        <h1> Lily boutique<i class="fa-solid fa-martini-glass"></i></h1>
         <img src="/resurse/imagini/sigla.png" alt="single"/>
       <nav class="nav-principal">
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li>
            <a href="index.html">
                <i class="fa-solid fa-house"></i>
                <span>Acasă</span>
            </a>
            <ul>
                <li><a href="/welcome">Welcome</a></li>
                <li><a href="/promotii">Promoții</a></li>
                <li><a href="/noutati">Noutăți</a></li>
                <li><a href="/orar">Orar</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-shirt"></i>
                <span>Produse</span>
            </a>
            <ul>
                <li><a href="/produse">TOATE</a></li>
                <% for (let opt of locals.optiuniMeniu) { %>
                    <li>
                        <a href="/produse?tip=<%- opt %>">
                            <%- opt.charAt(0).toUpperCase() + opt.slice(1) %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-images"></i>
                <span>Galerii</span>
            </a>
            <ul>
                <li><a href="/galerie-statica">Galerie statică</a></li>
                <li><a href="/galerie-dinamica">Galerie dinamică</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-circle-info"></i>
                <span>Despre</span>
            </a>
            <ul>
                <li><a href="/despre#prezentare">Prezentare</a></li>
                <li><a href="/despre#contact">Contact</a></li>

            </ul>
        </li>
    </ul>
</nav>

<button id="btn-tema" style="background: none; border: 2px solid var(--text-site); color: var(--text-site); padding: 5px 10px; border-radius: 5px; cursor: pointer; float: right; margin: 15px;">
        <i id="icon-tema" class="fa-solid fa-sun"></i>
    </button>
       </header>
