<header id="top">
       
        <h1> Lily boutique<i class="fa-solid fa-martini-glass"></i></h1>
         <img src="/resurse/imagini/sigla.png" alt="single"/>
       <nav class="nav-principal">
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li>
            <a href="index.html">
                <i class="fa-solid fa-house"></i>
                <span>Acasă</span>
            </a>
            <ul>
                <li><a href="#welcome">Welcome</a></li>
                <li><a href="#promotii">Promoții</a></li>
                <li><a href="#noutati">Noutăți</a></li>
                <li><a href="#orar">Orar</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-shirt"></i>
                <span>Produse</span>
            </a>
            <ul>
                <li><a href="#rochii">Rochii</a></li>
                <li><a href="#camasi">Cămăși</a></li>
                <li><a href="#esarfe">Eșarfe</a></li>
                <li><a href="#bluze">Bluze</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-images"></i>
                <span>Galerii</span>
            </a>
            <ul>
                <li><a href="galerie-statica.html">Galerie statică</a></li>
                <li><a href="galerie-dinamica.html">Galerie dinamică</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-circle-info"></i>
                <span>Despre</span>
            </a>
            <ul>
                <li><a href="despre">Despre noi</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>
       </header>
